@import url(https://fonts.googleapis.com/css?family=Asap:400,700);
body {
    font-family: 'Asap', sans-serif;
    background-color: #f1f4f8;
}


.header {
    width: 100%;
    background: #ffffff;
    border-bottom: 2px solid #c5d0de;
    z-index: 100;
    box-sizing: border-box;
    padding: 5px 15px 5px 15px;
}

.header-logo {
    color: #41a5ff;
    font-size: 24pt;
    font-weight: bold;
    letter-spacing: -0.03em;
}

.header-logo a {
    text-decoration: none;
}

.header-logo a:visited {
    color:#41a5ff;
}

.logo {
    margin: 40px 0 40px 0;
}

.logo-oval {
    text-align: center;
    margin: auto;
    background: #41a5ff;
    width: 106px;
    padding: 8px;
    -moz-border-radius: 96px / 48px;
    -webkit-border-radius: 96px / 48px;
    border-radius: 96px / 48px;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}

.logo-oval .logo-text {
    color: #edf6ff;
    font-size: 30pt;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: -0.03em;
}

.logo-subtext {
    text-align: center;
    color: #565656;
}

.content-padding {
    padding: 15px;
}

.floatingButton-fixed-br {
    position: fixed;
    bottom: 20;
    right: 15;
    z-index: 2;
}

.task {
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}

.task-priority {
    height: 30px;
    width: 30px;
    position: absolute;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -15px;
    right: -15px;
}

.task-outer-complete {
    opacity: 0.5;
}

.task-visible-complete * {
    text-decoration: line-through;
}

.task-buttons {
    float: right;
    height: 45px;

}
