{% load static %}
<html>
    <head>
        <title>Tasks</title>
        <meta name="description" content="Task App" />
        <meta name="author" content="Jared Nettleman" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
    </head>
    <body>
        <div id="react" style="height:100%; width:100%; margin:0; padding:0;"></div>
        <script type="text/javascript" src="{% static "bundle.js" %}" charset="utf-8"></script>
        {% csrf_token %}
    </body>
</html>